<div class="container" id="container-about">
  <%= render 'layouts/alpha_blog_logo_header' %>
</div>

<div class="row justify-content-md-center">
  <div class="col-8">
    <div class="container text-center shadow mt-4" id='container-about'>
      <div class="card-header regular-text-s">
        By <%= @article.user.username %>
      </div>
      <div class="card-body">
        <div class="row d-flex justify-content-center">
          <div class="col-2">
            <%= link_to gravatar_for(@article.user, size: 75), @article.user %>
          </div>
          <div class="col-10 justify-content-center align-self-center">
            <h5 class="text-bold text-left"><%= @article.title %></h5>
          </div>
        </div>
        <div class="card-text text-left regular-text-s" id='top-space'>
          <%= simple_format(@article.description) %>
        </div>
        <p class="card-text"><i>Tags: </i><%= @article.genre %></p>
      </div>
      <div class="card-footer text-muted">
        <small>
          Created <%= time_ago_in_words(@article.created_at) %> ago,
          Updated <%= time_ago_in_words(@article.updated_at) %> ago
        </small>
      </div>
    </div>
  </div>
</div>



<div class="row justify-content-md-center mt-3">
  <div class="col-8">
    <div class="row justify-content-md-center">
      <div class="col-sm">
        <a class="btn btn-primary nav-link" href=<%= articles_path %> role="button">Back to articles</a>
      </div>
      <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
        <div class="col-sm">
          <a class="btn btn-primary nav-link" href=<%= edit_article_path(@article) %> role="button">Edit</a>
        </div>
        <div class="col-sm">
          <%= link_to 'Delete', article_path(@article), method: :delete,
            data: { confirm: "Are you sure you want to delete article #{@article.title}?" }, class: 'btn btn-primary nav-link' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
