<div class="container" id="container-about">
  <%= render 'layouts/alpha_blog_logo_header' %>
</div>


<div class="row justify-content-md-center">
  <div class="col-8">
    <% if !logged_in? %>
      <a class="btn btn-primary nav-link shadow mt-4" href=<%= signup_path  %> role="button">Sign Up</a>
    <% else %>
      <a class="btn btn-primary nav-link shadow mt-4" href=<%= user_path(current_user)  %> role="button">[ <%= current_user.username %> ] User Profile</a>
    <% end %>
  </div>
</div>

<div class="apple_pagination container pagination justify-content-center mt-4 regular-text-s">
  <%= will_paginate @user_list %>
</div>

<%= render 'user' %>

<div class="apple_pagination container pagination justify-content-center mt-4 regular-text-s">
  <%= will_paginate @user_list %>
</div>
