<div class="container" id="container-home">
  <%= render 'layouts/alpha_blog_logo_header' %>
</div>

<div class="container" id='container-buttons'>
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-primary nav-link" href=<%= about_path %> role="button">about</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-primary nav-link" href=<%= users_path %> role="button">Our Authors</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-primary nav-link" href=<%= signup_path %> role="button">Sign Up</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-primary nav-link" href=<%= articles_path %> role="button">Demo</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-primary nav-link" href='#' role="button">login</a>
    </div>
  </div>
</div>
