<nav class="navbar navbar-expand-lg">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link font-weight-bold" aria-current="page" href=<%=root_path%>>Alpha Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Content
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href=<%=users_path %>>Our Authors</a></li>
            <li><a class="dropdown-item" href=<%=articles_path %>>All Articles</a></li>
            <li><a class="dropdown-item" href=<%=new_article_path %>>Create New Article</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" aria-current="page" href=<%=login_path%>>Login</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link font-weight-bold" aria-current="page" href=<%=logout_path%>>Logout</a> -->
          <%= link_to "Logout", logout_path, class: "nav-link font-weight-bold", method: :delete %>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="#" tabindex="-1" aria-disabled="true"><%= @page_name %></a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
