<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='d-flex flex-column'>
    <div class="container" id='page-content'>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>


    <footer id='sticky-footer' class='py-4 text-white-50'>
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-sm text-center" id ='text-bottom'>
            <br>
            <small>Made with Ruby on Rails by Maria Vaghani | New York</small>
          </div>
          <div class="col-2">
            <p id='links-footer'>
              <%= link_to image_tag("icons8-github-100.png", size: "60x60", alt: "GitHub Maria Vaghani"), "https://github.com/mariavaghani" %>
              <%= link_to image_tag("icons8-linkedin-100.png", size: "60x60", alt: "LinkedIn Maria Vaghani"), "https://www.linkedin.com/in/maria-vaghani/" %>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
